---
import Layout from "../../layouts/Base.astro";
import Header from "../../components/Header.astro";
import SectionHi from "../../components/SectionHi.astro";
import SectionPast from "../../components/SectionPast.astro";
import SectionSkills from "../../components/SectionSkills.astro";
import SectionContact from "../../components/SectionContact.astro";
import Footer from "../../components/Footer.astro";

const lang = "nl";

// TODO: only works locally, but keep this code for now
// import supabase from "../../supabase";
// const currentUrl: string = Astro.request.url + 'NL';
// await supabase
// 	.rpc("count_visits", {
// 		url: currentUrl,
// 	})
// 	.single();

---

<Layout title="Cors, front-end engineer." lang={lang}>
	<div id="container">
		<Header lang={lang} />
		<main>
			<SectionHi lang={lang} />
			<SectionPast lang={lang} />
			<SectionSkills lang={lang} />
			<SectionContact lang={lang} />
		</main>
		<Footer />
	</div>
</Layout>
