---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);

const t = useTranslations(lang);

import NavItem from './NavItem.astro';

// const logoSrc='../img/ck-logo-1.svg';
const logoSrc='../img/ck-logo-13.svg';

export interface Props {
	lang: string;
	t: string;
	logoSrc: string;
	href: string;
}
---
<nav id="nav-top" role="navigation" aria-label="Hoofdmenu">
	<a href="./" title="Terug naar de homepage" id="homelink"><img src={logoSrc} alt="" height="32"/></a>
	<ul id="pages">
		<NavItem title={t('nav.Hi')} lang={lang} />
		<NavItem title={t('nav.Future')} lang={lang} />
		<NavItem title={t('nav.Past')} lang={lang} />
		<NavItem title={t('nav.Skills')} lang={lang} />
		<NavItem title={t('nav.Tools')} lang={lang} />
		<NavItem title={t('nav.Contact')} lang={lang} />
	</ul>
</nav>