---
import HeaderNavAccessibility from "../components/HeaderNavAccessibility.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const langFromUrl = getLangFromUrl(Astro.url);
const { lang } = Astro.props;

const t = useTranslations(lang);

import NavItem from "./NavItem.astro";
const logoSrcLight = "../img/ckdev-logo-light.svg";
---

<nav id="nav-top" role="navigation" aria-label="Hoofdmenu">
	<a href="./" title="Terug naar de homepage" id="homelink">
		<img
			src={logoSrcLight}
			alt="CK, Front-end developer"
			height="32"
			id="homelink-img"
		/>
	</a>
	<ul id="pages">
		<NavItem title={t("nav.Hi")} lang={lang} />
		<NavItem title={t("nav.Past")} lang={lang} />
		<NavItem title={t("nav.Skills")} lang={lang} />
		<NavItem title={t("nav.Contact")} lang={lang} />
	</ul>
	<HeaderNavAccessibility lang={lang} />
</nav>
